body {
    max-width: 600px;
    margin: 60px auto 0;
    font-family: sans-serif;
    line-height: 1.5;
    /* height: 800vh; */
}

h2 {
    border-top: solid 5px lightgray;
    margin-top: 50px;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 span {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 18px;
    color: grey;
    display: inline-block;
    margin-left: 100px;
}

p{
    color: #666;
}

#primeiro{
    font-size: 18px;
    font-weight: bold;
}

.azul{
    color: blue;
}

[nome=menor]{
    border: dotted 1px black;
}

footer{
    margin-bottom: 100px;
}

ol{
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

li{
    background-color: grey;
    border-radius: 4px;
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
}

li a:visited{
    color: black;
}

li a:hover{
    color:green;
    font-size: 18px;
}

.final{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 24px;
    margin: auto 15px;
}

.final:nth-child(1){
    background-color: #3518f3;
}

.final:nth-child(2){
    background-color: #4518f3;
}

.final:nth-child(3){
    background-color: #5518f3;
}

.final:nth-child(4){
    background-color: #6518f3;
}

.final:nth-child(5){
    background-color: #7518f3;
}

/* img {
    border: red 3px solid;
    top: 70px;

    position: relative; - relativo à posição inicial do elemento, não altera a estrutura da página

    position: fixed; - relativo ao viewport, remove o elemento da estrutura da página

    position: sticky; - define limites que o elemento tem que respeitar no viewport, não altera a estrutura da página

    position: absolute; - relativo ao elemento 'pai' que tem um position definido - se nenhum tiver, relativo ao body, remove o elemento da estrutura da página.
}

article{
    position: relative;
} */